.card{
    width: 60%;
    padding: 0;
}

.smallImage {
    width: 60% !important;
    margin: 0 auto !important;
    height: auto;
    object-fit: cover; /* если хочешь сохранить пропорции */
}

@media screen and (max-width:990px)
{
    .heart {
        top: 90%;
        right: 30%;
        transform: translate(50%);
    }
    .scales {
        top: 90%;
        right: 70%;
        transform: translate(50%);

    }
}
