.card{
    width: 60%;
    padding: 0;
}

.smallImage {
    width: 60% !important;
    margin: 0 auto !important;
    height: auto;
    object-fit: cover; /* если хочешь сохранить пропорции */
}

@media screen and (max-width:990px)
{
    .heart {
        top: 90%;
        right: 30%;
        transform: translate(50%);
    }
    .scales {
        top: 90%;
        right: 70%;
        transform: translate(50%);

    }
}

.add-to-cart-at-page{
    color: white !important;
    border-color: #1f3d71!important;
    background-color:rgb(75, 92, 113)!important;
}

.add-to-cart-at-page:hover {
    background-color: #1f3d71;
    color: white;
}

.add-to-cart-at-page:active:active {
    animation: pressAnimation 0.4s ease-in-out;
}

@keyframes pressAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width:990px)
{
    .card{
        padding-bottom: 30px;

    }

    .heart {
        top: 90%;
        right: 30%;
        transform: translate(50%);
    }
    .scales {
        top: 90%;
        right: 70%;
        transform: translate(50%);

    }
}
@media screen and (max-width:4500px)
{
    .card{
        padding-bottom: 80px;

    }
    .heart {
        top: 80%;
        right: 30%;
        transform: translate(50%);
    }
    .scales {
        top: 80%;
        right: 70%;
        transform: translate(50%);

    }
}