* {

    font-family: 'Roboto Serif', serif;

}
.menu_contain a.nav-link {
    text-transform: uppercase;
    color: black;
    font-size:  28px;
    font-weight: bold;
}
.navbar-brand img {
    filter: brightness(0);
}
